# Flutter & Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/
.idea/
.vscode/
*.iml

# Android
android/local.properties
android/.gradle/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Runner.xcworkspace/
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/engine/

# Web
web/.dart_tool/
web/build/

# Windows
windows/flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/

# Linux
linux/flutter/ephemeral/

# Others
.env
*.log
*.lock
